@font-face {
    font-family: 'Century Gothic Bold';
    src: url(./fonts/century_gothic_bold.ttf);
}

@font-face {
    font-family: 'Century Gothic';
    src: url(./fonts/century_gothic.ttf);
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    min-height: 650px;
    background-color: #232d50;
    background: url(./img/bg/background.png) center/cover no-repeat;
    font-family: 'Century Gothic Bold';
}

.header {
    height: 107px;
    background-color: #15263e;
    display: flex;
    justify-content: center;
}


.nav__list {
    display: flex;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    display: inline;
}

.nav__item{
    display: flex;
    align-items: center;
}

.nav__item::after {
    content: "-";
    color: #ffffff;
    padding: 0 40px;
}

.nav__item:last-child::after {
    content: "";
    padding: 0;
}

.main__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__text {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.main__1row {
    font-size: 47px;
    line-height: 40px;
}

.main__2row {
    font-size: 170px;
    background: linear-gradient(45deg, #a21af0, #ff0072);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #a21af0;
    line-height: 150px;
}

.main__3row {
    font-size: 118px;
    letter-spacing: 27px;
    margin-left: 35px;
    line-height: 110px;
}

.main__4row {
    font-size: 25px;
    line-height: 50px;
}

.main__button {
    margin-top: 64px;
    width: 214px;
    height: 67px;
    background: linear-gradient(45deg, #a21af0, #ff0072);
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__button:hover {
    color:  #e2b0f1;
    background: radial-gradient(#ff0072, #a21af0);
    /* filter: brightness(90%); */
}

.about {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about__top {
    display: flex;
    justify-content: space-around;
    background: url(./img/bg/about.png) no-repeat center;
    height: 597px;
}

.about__left {
    /* position: relative; */
    /* right: 330px; */
    font-family: 'Century Gothic Bold';
    display: flex;
    flex-direction: column;
    margin-top: 123px;
    align-items: flex-end;
}

.about__name {
    text-transform: uppercase;
    color: #15263e;
    font-size: 53px;
}

.about__prof {
    text-transform: uppercase;
    color: #a21af0;
    font-size: 21px;
    margin-top: 7px;
}

.about__desc {
    font-family: 'Century Gothic';
    margin-top: 35px;
    width: 350px;
    font-size: 17px;
    text-align: right;
}

.about__right {
    /* position: relative; */
    /* left: 270px; */
    margin-top: 130px;
}

.about__skill_name {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Century Gothic Bold';
    font-size: 20px;
    text-transform: uppercase;
    color: #4d4d4d;
}

.about__skill_name::after {
    margin-top: 17px;
    margin-bottom: 45px;
    height: 11px;
    width: 331px;
    border-radius: 5px;
    background: linear-gradient(to left, #ff0072, #a21af0);
    content: '';
}

/*
.about__skill_name:last-child::after {
    margin-bottom: 0;
}
*/

.about__bottom {
    height: 307px;
    background-color: #dcdcde;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom__element {
    display: flex;
}

.element__circle {
    height: 87px;
    width: 87px;
    border-radius: 50%;
    background-color: #374362;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element__container {
    padding-left: 37px;
    color: #4d4d4d;
}

.element__header {
    text-transform: uppercase;
    font-family: 'Century Gothic Bold';
    font-size: 20px;
}

.element__text {
    padding-top: 35px;
    font-family: 'Century Gothic';
    font-size: 20px;
}

.services {
    background: #ffffff;
}

.section__top {
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    font-family: 'Century Gothic Bold';
    font-size: 50px;
    color: #15263e;
    text-transform: uppercase;
}

.section__text {
    font-family: 'Century Gothic';
    color: #4d4d4d;
    font-size: 19px;
    margin-top: 15px;
}

.services__list {
    width: 1154px;
    margin: 0 auto;
}

.services__element_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}

.services__element_circle {
    height: 115px;
    width: 115px;
    background: linear-gradient(45deg, #a21af0, #ff0072);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__element_title {
    margin-top: 35px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 25px;
    font-family: 'Century Gothic Bold';
}

.services__element_list {
    margin-top: 77px;
    display: flex;
    justify-content: space-between;
}

.services__element_text {
    font-family: 'Century Gothic';
    color: #494949;
    text-align: center;
    font-size: 15px;
}

.testimonials {
    margin-top: 157px;
    height: 625px;
    background: url(./img/bg/testimonials.png) center/cover no-repeat;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__title {
    margin-top: 125px;
    font-family: 'Century Gothic Bold';
    font-size: 50px;
    text-transform: uppercase;
}

.testimonials__container {
    margin-top: 77px;
    display: flex;
}

.testimonials__left {
    display: flex;
}

.review__text {
    font-family: 'Century Gothic';
    width: 480px;
    text-align: right;
    font-size: 15px;
    line-height: 30px;
    padding: 20px;
}

.review__quote:last-child {
    transform: rotate(180deg);
}

.testimonials__right {
    font-family: 'Century Gothic Bold';
    margin-left: 64px;
    display: flex;
    align-items: center;
}

.testimonials__photo {
    border: #ffffff 10px solid;
    border-radius: 50%;
    overflow: hidden;
    height: 120px;
}

.testimonials__right_text {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__right_name {
    text-transform: uppercase;
    font-size: 33px;
    color: #ffffff;
}

.testimonials__right_prof {
    margin-top: 10px;
    font-size: 15px;
    color: #c714d5;
}

.portfolio__down {
    display: flex;
    justify-content: center;
    margin-top: 77px;
}

.portfolio__selector {
    margin-right: 37px;
}

.portfolio__element_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.portfolio__element_list:last-child {
    margin-bottom: 0;
}

.portfolio__element_item {
    width: 470px;
    height: 350px;
}

.portfolio__element_item:hover {
    filter: drop-shadow(0px 0px 5px black);
}

.portfolio__list {
    width: 972px;
}

.portfolio__selector_item {
    margin-bottom: 30px;
}

.portfolio__selector_link {
    font-family: 'Century Gothic Bold';
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 25px;
    text-decoration: none;
}

.portfolio__selector_link:hover {
    color: #a91aef
}

.portfolio__element_img {
    width: 470px;
    height: 350px;
}

.expirience {
    margin-top: 135px;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #a21af0, #ff0072);
    /* background: linear-gradient(90deg, #000000, #ffffff, #000000); */
    flex-direction: column;
    /* animation: gradient 2s linear infinite; */
    /* background-size: 200% 200%; */
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}

.expirience__title {
    font-family: 'Century Gothic Bold';
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
}

.expirience__text {
    font-family: 'Century Gothic';
    color: #ffffff;
    font-size: 19px;
    margin-top: 15px;
}

.expirience__item {
    margin-top: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.expirience__side {
    font-family: 'Century Gothic Bold';
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: right;
}

.expirience__separator {
    width: 14px;
    height: 64px;
    background: #ffffff;
    margin: 0 37px;
}

.expirience__item_text {
    font-family: 'Century Gothic';
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    width: 800px;
}

.expirience__item:nth-child(even) {
    flex-direction: row-reverse;
}

.expirience__item:last-child {
    margin-bottom: 133px;
}

.expirience__list li:nth-child(even) .expirience__side{
    text-align: left;
}

.expirience__list li:nth-child(even) .expirience__item_text {
    text-align: right;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.blog__item{
    width: 370px;
    font-family: 'Century Gothic Bold';
    text-align: left;
}

.blog__item_img {
    width: 370px;
    height: 250px;
}

.blog__item_pretitle {
    color: #929292;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 33px;
}

.blog__item_title {
    font-size: 20px;
    color: #15263e;
    margin-top: 13px;
}

.blog__item_text {
    margin-top: 17px;
    font-family: 'Century Gothic';
}

.blog__list {
    width: 1238px;
    margin: 0 auto;
}

.blog__item_list {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
}

.blog__item_list:last-child {
    margin-bottom: 87px;
}

.contact {
    height: 777px;
    background: url(./img/bg/contact.png) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__rectangle {
    width: 1170px;
    height: 639px;
    background-color: #15263e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
    font-family: 'Century Gothic Bold';
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
}

.contact__text {
    font-family: 'Century Gothic';
    color: #ffffff;
    font-size: 19px;
    margin-top: 27px;
}

.contact__top {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__name {
    font-family: 'Century Gothic';
    font-size: 20px;
    padding: 0 30px;
    width: 210px;
    height: 55px;
}

.contact__phone {
    font-family: 'Century Gothic';
    font-size: 20px;
    padding: 0 30px;
    width: 260px;
    height: 55px;
}

.contact__email {
    font-family: 'Century Gothic';
    font-size: 20px;
    padding: 0 30px;
    width: 260px;
    height: 55px;
}

textarea[name="contact__message"] {
    margin-top: 22px;
    font-family: 'Century Gothic';
    color: #000000;
    font-size: 20px;
    width: 915px;
    height: 88px;
    resize: none;
    padding: 10px 30px;
}

.contact__1row {
    font-family: 'Century Gothic';
    display: flex;
    width: 977px;
    justify-content: space-between;
}

.contact__input {
    margin-top: 79px;
    display: flex;
    flex-direction: column;
}

.contact__button {
    font-family: 'Century Gothic Bold';
    margin-top: 34px;
    padding: 0 37px;
    height: 67px;
    background: linear-gradient(45deg, #a21af0, #ff0072);
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__button:hover {
    color:  #e2b0f1;
    background: radial-gradient(#ff0072, #a21af0);
    /* filter: brightness(90%); */
}

.footer__end {
    height: 175px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
